%footer.site-footer
  .container
    %section.associations
      %span.icon-builtbybearded
        %span.visually-hidden Built By Bearded

      %span.icon-nadba
        %span.visually-hidden Member of <abbr title="National Association of Dirigibles, Blimps, and Rigid Airships">NADBA</abbr>

    %p.copyright
      Copyright 1910, Finneous T. Clouderhoof. All rights reserved.
