// styles not specific to any particular site page.
// place things like "general" paragraph styles, heading styles, base list styles, etc. here.

// if you're calling the container mixin, you can define a custom max-width
// otherwise, the max-width's default value is 81.25em (1300px)
//.container {
//  @include container(70em);
//}

* {
  box-sizing: border-box;
}

.container {
  // change your max-width like so:
  // @include container(68.75em);
  // default max-width is 81.25em (1300px)
  @include container;
  width: 95%;
}

html {
  background: url("/assets/images/bg-footer.jpg") repeat;
}

.main-content {
  @include pie-clearfix;
  padding-bottom: 1em;
  background-color: $background-color;
  padding-top: 1em;

  .constrained {
    max-width: 40em;
    margin: 0 auto 0 auto;
  }
}


// General Typographic Styles
//////////////////////////////////////

body {
  @include copy-face;
  color: $text-color;
  line-height: 1.4;
}

////////// Block-level Elements

p {
  margin-bottom: 1em;
}

ul, ol {
  li li {
    font-size: inherit;
  }
}

// In Main Content Area

.primary {
  ul, ol {
    margin: 0 0 0.5em 0;
    li {
      margin-bottom: 0.5em;
    }
  }

  ul {
    list-style: disc;
    margin-top: 0.5em;
  }

  ol {
    list-style: decimal;
  }
}

.main-content {
  padding-top: 1em;
  padding-bottom: 1em;
  @include breakpoint($breakpoint-l) {
    @include pie-clearfix;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.primary {
  margin-bottom: 2.0em;

}

.sidebar {
  @include breakpoint($breakpoint-l) {
    @include column(3);
    @include last;
  }
}

///// Headings

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

h3 {
  @include heading-3;
}

h4 {
  @include heading-4;
}

h5 {
  @include heading-5;
}

h6 {
  @include heading-6;
}

.page-title {
  text-align: center;
  font-size: 2em;
  
  @include breakpoint($breakpoint-l) {
    font-size: 5em;
  }
}

h2.section-title {
  font-size: 1.2em;
  display: block;
  text-align: center;
  margin-top: -1em;
  color: darken($heading-color, 10%);
  @include breakpoint($breakpoint-m) {
    font-size: 1.8em;
    text-shadow: 2px 2px 0 $background-color;
  }
  @include breakpoint($breakpoint-l) {
    font-size: 2.5em;
  }
  .title-text {
    background: $background-color-alt;
    padding: 0.5em 0.5em 0.25em 0.5em;
    border-top: 1px solid darken($heading-color, 10%);
    border-bottom: 1px solid darken($heading-color, 10%);
    letter-spacing: 1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    box-shadow: 1px 0 5px rgba(0,0,0,0.2);
    @include breakpoint($breakpoint-m) {
      border-top: 2px solid darken($heading-color, 10%);
      border-bottom: 2px solid darken($heading-color, 10%);
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
    }
  }
  .icon-bg-arrow {
    margin: 0.2em auto;
  }
}


////////// Inline Elements

a {
  @include link;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

img {
  max-width: 100%;
  display: block;
}

button {
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.button {
  @include button;
}

.button-highlight {
  @include button-highlight;
}

.button-subtle {
  @include button-subtle;
}

.button-reverse {
  @include button-reverse;
}

.button-wrapper {
  display: inline-block;

  .note {
    display: block;
    text-align: center;
    margin-top: 0.35em;
  }
}

// Other elements
//////////////////////////////////////

.visually-hidden {
  @include screenreader-text;
}

.not-visually-hidden {
  @include not-visually-hidden;
}
